/* PC */
@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1024px) {
  #slider {
    margin-top: 3rem;
  }
}

/* Mobile */
@media (max-width: 740px) {
  #header {
    justify-content: space-around;
    align-content: center;
  }

  #nav {
    display: flex;
  }

  #nav > li {
    display: block;
    font-size: 0.8rem;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #nav li a {
    padding: 1px 1.6rem;
    font-size: 0.6rem;
  }

  #slider {
    margin-top: 3.5rem;
  }
}

@media (min-width: 300px) and (max-width: 420px) {
  
  #slider {
    margin-top: 3.5rem;
  }

  #header {
    justify-content: space-around;
    align-content: center;
  }

  #nav {
    display: flex;
    height: 2rem;
  }

  #nav > li {
    display: block;
    font-size: 0.7rem;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #nav li a {
    padding: 1px 1rem;
    font-size: 0.54rem;
    font-weight: 450;
  }
  
  #hdsd-container {
    text-align: center;
  }

  #hdsd-container h1{
    font-size: 1.5rem;
  }
  .v-stepper {
    min-height: 8rem;
  }
  
  .line {
    top: 2.3rem;
    left: 1rem;
    height: 18.3rem;
    position: absolute;
    border-left: 3px solid gray;
  }

  #loi-ich h2{
    text-align: center;
    font-size: 1.5rem;
  }

  .stepper {
    margin: 3rem auto;
  }
  
  .stepper::after {
    left: 10.5%;
  }

  .stepper-container {
    width: 100%;
    padding-left: 6rem;
    padding-right: 1.5rem;
  }

  .stepper-text {
    font-size: 0.8rem;
  }

  .stepper-right{
    left: 0;
  }

  .step-index {
    left: 0.6rem;
  }

  .stepper-right .step-index {
    left: 0.55rem;
  }

  .stepper-left-arrow {
    border-left: 0;
    border-right: 1rem solid black;
    left: -0.9rem;
  }

  .stepper-right-arrow {
    border-right: 1rem solid black;
    border-left: 0;
    left: -0.9rem;
  }

  #lien-he {
    padding: 1rem;
  }

  .swiper-btns {
    
  }
}
